@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap");
/* @import url ("https://fonts.googleapis.com/css2?family=Roboto&display=swap") */
/* 
Justify content: along the main axis (column -> vertical alignment, row -> horizontal alignment)
Align items: along the cross axis (column -> horizontal alignment, row -> vertical alignment
} */
/*europa font, eurostile*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/*Montserrat*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

/* Header */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-top: 1rem;
}
.headerContainer button {
  border-radius: 25px;
  padding: 10 10px; /* 10 top/bottom, 10px left/right */
  border: 2px solid #000;
  font-weight: 500;
}
.weatherContainer {
  font-size: medium;
  font-weight: 500;
}

/* Home */
.homeContainer {
  display: flex;
  flex-direction: row;
  margin-top: 15rem;
  justify-content: space-between;
}
.portraitImage:hover {
  transform: scale(1.1);
}
@media (max-width: 975px) {
  .homeContainer{
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .homeHeadWrapper{
    margin-bottom: 2rem;
  }
}



/* background-color: #00008b; */
/* About */
.aboutContainer {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 35rem;
  margin-top: 30rem;
  background-color: #f73663;
  color: white;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  font-size: large;

}
.aboutPara{
  text-align: center;
  padding:2rem 5rem;
}

/*Skills*/
.skillsContainer {
  margin-top: 13rem;
  margin-left: 13rem;
  margin-right: 13rem;
  height: 37rem;
  background-color: white;
  color: black;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.skillList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  height: 37rem;
}

.skillBoxContainer {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  flex: 1;
  height: auto;
  font-weight: 425;
  font-size: 19px;
  padding: 1rem;
  padding-bottom: 2rem;
}

.skillBoxContainer:not(:last-child) {
  border-right: 1px solid #e6ecf8;
}
.skillBoxHeader {
  height: 3rem;
  padding-top: 1rem;
}
.skillBoxPara {
  margin-top: 3.5rem;
}
/* Styles for smaller screens (phones) */
@media (max-width: 975px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutContent {
    padding: 3rem;
    padding-bottom: 12rem;
  }
  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 15px;
    border-top: 1px solid #e6ecf8; /* Add top border for phones */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-width: 300px;
    height: fit-content;
    margin: 0rem 3rem;
  }

  .skillList {
    flex-direction: column; /* Stack skill boxes on top of each other for phones */
    height: fit-content;
  }

  .skillBoxContainer:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #e6ecf8; /* Add bottom border for phones */
  }
  .skillBoxPara {
    margin-top: 2rem;
  }
  .aboutPara{
    padding:0rem;
  }
}

/* Projects*/
.projectsContainer {
  margin-top: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.projectsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  transition: all 0.9s ease;
}
.card {
  width: 25rem;
  height: 15rem;
}
.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-decoration: "none";
}
.card-button {
  opacity: 0;
  display: flex;
  transition: opacity 0.3s ease-in-out;
  padding: 7px 60px;
  border-radius: 25px;
  margin-top: 3rem;
}
.card:hover .card-button {
  opacity: 1;
}
.cardContent {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card:hover .cardContent {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.card:hover .card-container{
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}
.card:hover {
  border:none;
}

@media (max-width: 975px) {
  .projectsContainer {
    margin-top: 170rem;
  }
  .card {
    width: 22rem;
    
  }
  .card:hover {
    background-image: none;
  }
  
}

/*Contact*/
.contactContainer {
  position: absolute;
  margin-top: 10rem;
  left: 0px;
  right: 0px;
  background-color: black;
  text-align: center;
}
/* Adjust the space between items evenly */
.socialsContainer a {
  display: inline-flex;
  justify-content: space-between;
  margin: 1rem;
  color: white;
  padding: 0 1rem; /* Add padding inside each item */
}

.form-control {
  border-radius: 0.25rem; /* Adjust the value to your preference */
}
/*Contact Form*/
.contactHeaderContainer {
  margin-top: 2rem;
}
.closeButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.closeButton a {
  color: black;
}

.contactHeaderMessage {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.contactFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactFormContainer button {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 7px 40px;
  border-radius: 25px;
  border: 2px solid #000;
  font-weight: 500;
}

/*scroll*/
/* For WebKit-based browsers (Chrome, Safari) */
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  /* border-radius: 3px; Rounded corners for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* For Firefox */
/* Width of the scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 #f1f1f1;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #333;
}
